table.cart {
  margin-bottom: 3em !important;

  button[name=update_cart] {
    background: $accent_color !important;
    color: white !important;
    height: 45px;
    line-height: normal !important;
    min-height: auto;
    border: none !important;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: normal !important;
    text-transform: uppercase !important;

    &:hover {
			background: darken($accent-color, 10%) !important;
		}
  }

  td.product-thumbnail {

    a {
      display: inline-block;
      width: 45px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  td.product-name {

    a {
      color: black;
      text-decoration: underline;

      &:hover {
        color: $accent-color;
      }
    }
  }

  td.product-quantity {

    input.qty {
      border-radius: 0 !important;
      width: 50px !important;
      min-width: 50px !important;
      font-size: 14px;
    }
  }
}

.fgf_gift_products_wrapper {
  margin-bottom: 3em !important;

  h3 {
    font-size: 1.3em;
  }
}

.wc-proceed-to-checkout a.checkout-button.button.alt.wc-forward, 
#place_order {
  padding: 1em !important;
  font-size: .8em !important;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover {
    background: darken($accent_color, 10%) !important;
  }
}

.cart_totals  {

  h2 {
    font-size: 1.3em;
  }
}

.do-quantity-buttons form .quantity:not(.buttons-added):not(.hidden):after, 
.do-quantity-buttons form .quantity:not(.buttons-added):not(.hidden):before, 
.woocommerce form .quantity.buttons-added .minus, .woocommerce form .quantity.buttons-added .plus, 
.woocommerce form .quantity.buttons-added .qty {
  min-height: 40px !important;
}

.cart_totals {

  table.shop_table {

    th {
      background-color: #f9f9f9 !important;
      color: black;
    }
  }
}