
.widget_shopping_cart_content {
	.wrapper-list-product-promo {
		.list-product {
			.item-enable {
				.unlock-add-to-cart {
					.button.add_to_cart_button.ajax_add_to_cart.loading {
						background: #fff;
						opacity: 0.3;
					}
				}
			}
		}
	}
	.woocommerce-mini-cart {

    .__show-only-mini-cart {
      display: block !important;
    }
    
		.woocommerce-mini-cart-item {
			a {
				img {
					position: relative;
				}
			}
			.ic-mini-cart-count-price.ic-mini-cart-title-input {
				line-height: 1;
				padding-left: 10px;
				width: calc(100% - 70px);
				.name-product {
					font-size: 14px;
					line-height: 1.2;
					margin-right: 15px;
					overflow: hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					padding-bottom: 0;
				}
			}
		}
	}
}
.over-lay-custom-mini-cart {
	display: none;
	position: fixed;
	background: #000;
	z-index: 100;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	z-index: 1000;
  left: 0;
  top: 0;
}
body.active-mini-cart {
  overflow: hidden;
  
	.over-lay-custom-mini-cart {
		display: block;
	}
}

.widget_shopping_cart_content {
  .woocommerce-mini-cart {
      .woocommerce-mini-cart-item {
          .ic-mini-cart-count-price.ic-mini-cart-title-input {
              line-height: 1;
              padding-left: 10px;
              .name-product {
                  font-size: 15px;
                  line-height: 1;
                  margin-right: 15px;
              }
          }
      }
  }
}


.ic-cart-sidebar-wrapper {

  .woocommerce-mini-cart__empty-message {
    font-size: .9em;
    text-decoration: underline;
    color: #5f5f5f;
  }

  .ic-cart-sidebar-wrapper_header {

    span {
      font-weight: bold;
      color: black;
    }
  }

  .show-free-shiping-wrapper {
    box-shadow: none;
    border-radius: 3px;
    border: solid 1px #63b722;
    background: #63b7220f;
    margin: 1em 0 0;
    width: 100%;

    .title-amount-shipping, 
    .text-more-add-pr {
      font-size: .9em;
      font-weight: normal !important;

      .text {
        color: black !important;
        font-weight: normal !important;
      }

      .price { 
        color: $accent_color !important;
      } 
    }
  }

  .cart_list.product_list_widget  {

    .__free-gift-item {

      .quantity {
        opacity: .3;
        pointer-events: none;
      }
    }

    .attachment-woocommerce_thumbnail {
      box-shadow: none !important;
      border-radius: 1px !important;
      border-color: #eee !important;
      width: 80px !important;
      height: auto !important;
    }

    .ic-mini-cart-count-price {
      padding-left: 1em;

      .name-product {
        font-weight: bold;
        color: black;
        padding-right: 3em;
        line-height: normal !important;
      }

      .amount {
        font-size: .8em;
        font-weight: bold;
        color: black;
      }
    }
  }

  .woocommerce-mini-cart__total,
  .woocommerce-mini-cart__shipping,
  .woocommerce-mini-cart__fee {
    color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    font-size: .8em !important;
    font-weight: bold !important;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: normal !important;

    .woocommerce-Price-amount.amount {
      font-weight: bold;
      color: black;
    }
  }

  .__total {
    padding-top: 1em;
    border-top: solid 1px #eee;
    margin-top: 1.5em;
  }

  .woocommerce-mini-cart__buttons.buttons {

    a {
      font-weight: bold !important;
      text-transform: uppercase;
      font-size: 0.7em !important;
      border-radius: 1px !important;
      box-shadow: none !important;
      padding: 1em !important;
    }
  }

  .input-text.qty {
    // border: solid 1px #eee !important; 
    // background: #f6f6f6 !important;
    padding: 0 !important;
    min-height: 35px !important;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
    }

    @media(max-width:768px) {

    }
  }
}

.__show-only-mini-cart {
  display: none !important;
}

.meta-tag-love-and-support {
  margin-top: 1em;
  display: flex;
  border: solid #eee;
  border-width: 1px 0;
  width: calc(100% + 60px);
  transform: translateX(-30px);

  > * {
    padding: 1em 0;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: normal;

    &:first-child {
      border-right: 1px solid #eee;
    }

    a {
      font-size: 10px;
      color: black;
      text-transform: uppercase;
      line-height: normal;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      .__icon {
        margin-right: 6px;
        line-height: 0;
      }
    }
  }
}

.meta-tag-shipping-and-payment {
  display: flex;
  width: calc(100% + 60px);
  transform: translateX(-30px);
  padding: .5em 0;
  border-bottom: 1px solid #eee;
  padding-left: 15px;
  box-sizing: border-box;

  > * {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: normal;
  }

  .__payment {
    width: 63%;
  }
}

.mini-cart-group-stick-button {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9;
  padding: 20px 30px 0 30px;
  box-shadow: 0 0 10px 0 rgba(1,1,1,.1);
  width: 100%;
}

.woocommerce-mini-cart__buttons {

  .button:not(.checkout) {
    display: none !important;
  }

  .total-cart {
    display: flex;
    flex-direction: column;
    font-size: .7em;
    text-transform: uppercase;
    color: #999;
    margin-right: 2em;

    strong {
      letter-spacing: 1px;
    }

    .woocommerce-Price-amount {
      font-weight: bold;
      font-size: 24px;
      color: black;
    }
  }
}