$accent_color: #63b723 !default;

.single-product{
  .single-product-variable-items{

       &.variable-items-wrapper{
         li{
           margin-right: 10px !important;
         }
       }

      .variable-item{
          &.image-variable-item{
            width: 75px !important;
            height: 50px !important;
            padding: 0 !important;
            img{
              object-fit: contain;
            }
            &.selected{
              color: #fff !important;
              border: 2px solid $accent_color !important;
              box-shadow: none !important;
              border-radius: 4px !important;
              .variable-item-contents{
                &:before{
                  display: none !important;
                }
              }
            }
          }
      }
  }

  // .woocommerce-variation-add-to-cart{
  //     button.single_add_to_cart_button.button.alt{
  //       background-color: $accent_color;
  //     }
  // }

}
